
.menu-container {
    background: #fff;
    /* min-height: 100vh; */
    /* padding-bottom: 5px; */
}


.menu-header {
    display: flex;
    position: sticky;

    top: 0;
    z-index: 1;

    font-family: 'Sen', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    align-items: center;
    justify-content: space-between;
    padding: 15px 17px 10px;
    background-color: #ffffff;
}

.header-btn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #ecf0f4;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}
.edit-btn{
    font-size: 14px;
    font-family: 'Sen';
    font-weight: 400;
    color: #FDC500;
    font-style:underline;
}

.menu-header h2 {
    font-size: 17px;
    font-weight: 400;
}


.profile-section {
    display: flex;
    gap: 45px;
    padding: 10px 20px 20px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-info h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 4px;
}

.profile-info p {
    font-size: 14px;
    color: #a0a5ba;
}


.menu-section {
    margin: 0 15px 20px;
    background: #f6f8fa;
    border-radius: 16px;
    overflow: hidden;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    cursor: pointer;
}

.menu-item:hover {
    background: rgba(0, 0, 0, 0.04);
}

.menu-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.chevron {
    color: #9ca3af;
    font-size: 18px;
}
.menu-label {
  font-size: 12px;
  color: #6b7280;
  font-weight: 500;
}

.menu-holder {
  font-size: 14px;
  color: #000;
  margin-top: 6px;
}
.footer-bar {
  position: sticky;
  bottom: 0;
  background-color: #ffffff;
  padding: 12px 24px 0px;
  z-index: 20;

  /* visual polish */
  
}

/* button full width */
.footer-bar .save-btn {
  width: 100%;
}


@media (min-width:1024px) {
    .page {
        display: flex;
        align-items: center;
        justify-content: center;
        

    }

    .menu-container {
        background: #fff;
        min-height: 100vh;
        min-width: 1024px;
        /* padding-bottom: 40px; */
        
    }
    .menu-header {
        width: 1024px;
    }

}