.food-card {
  background: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  border:1px solid #f1eeee;
  transition: transform 0.25s ease;
  display: flex;
  flex-direction: column;
  width: 130px;
  
}



/* =========================
   IMAGE
========================= */

.food-card__image-wrapper {
  width: 100%;
  height: 85px;
  border-radius: 24px;
  overflow: hidden;
}

.food-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.food-card:hover .food-card__image {
  transform: scale(1.05);
}

/* =========================
   CONTENT
========================= */

.food-card__content {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.food-card__text {
  display: flex;
  flex-direction: column;
  
}

.food-card__name {
  font-size: 16px;
  font-weight: 400;
  color: #1a1a1a;
}

.food-card__description {
  font-size: 12px;
  color: #6f6f6f;
  margin: 0;
}

/* =========================
   FOOTER
========================= */

.food-card__footer {
  display: flex;
  align-items: center;
  gap:45px;
}

.food-card__price {
  font-size: 20px;
  font-weight: 500;
  color: #FDC500;
}

/* =========================
   ACTION BUTTONS
========================= */

.food-card__actions {
  display: flex;
  
}

.food-card__icon-btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #FDC500;
  background: transparent;
  color: #FDC500;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.food-card__icon-btn:active {
  transform: scale(-0.2);
}

.food-card__icon-btn--filled {
  background: transparent;
  color: #FDC500;
  border: 2px solid #FDC500;
}
