/* ============================================
   RESTAURANTS SECTION
   ============================================ */
   @import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap');
.restaurants-section {
  background: var(--color-white);
  padding: auto ;
  
}

.restaurants-section__container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 15px;
}

.restaurants-section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-lg);
}

.restaurants-section__header h2 {
  font-size: 20px;
  font-weight: 400;
  color: var(--color-text-dark);
  margin: 0;
  font-family: 'Sen', sans-serif;
}
.restaurants-section__see-all-btn {
  background: none;
  border: none;
  color: #32343E;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Sen', sans-serif;
}


.restaurants-section__carousel {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 10px;
}


/* Hide scrollbar */
.restaurants-section__carousel::-webkit-scrollbar {
  display: none;
}


/* ============================================
   RESPONSIVE
   ============================================ */

@media (max-width: 480px) {
  .restaurants-section {
    padding-bottom: 5px;
  }

  .restaurants-section__header h2 {
    font-size: 20px;
    font-family: 'Sen', sans-serif;
  }

  /* .restaurants-section__grid {
    grid-template-columns: 1fr;
  } */
}